main{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

#HeroImage{
    width:360px;
    margin-top: 70px;
    padding-left: 200px;

}
section h1{
    font-size: 32px;
    font-size: 32px;
    margin-top: -20px;
}
section p{
    margin-bottom: 30px;
}

section Button{
    background-color:black;
    color: white;
    padding: 8px;
    border-radius: 7px;
    font-size: 10px;
    margin-bottom: -100px;
}
.LeftHero img{
    margin-bottom: -175px;
}

.learnBtn{
    padding: 10px 20px;
}
