Header {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.LeftNav{
    display: flex;
    gap: 30px;
    align-items: center;

}
.select{
    background-color: transparent;
    border: none;
}

.RightNav{
    margin-right: 10px;
}